node_modules/
.env

# =========================
# FLUTTER
# =========================
.dart_tool/
.build/
.metadata
.packages

# Android
android/.gradle/
android/local.properties
android/key.properties
android/app/release.jks
android/**/GeneratedPluginRegistrant.java

# Credenciales encriptadas
keystore-credentials.enc

# iOS / macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Pods/

# Windows / Linux
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# IDEs
.idea/
*.iml

# Build outputs — excluir todo menos build/web (necesario para Vercel deploy)
build/*
!build/web
android/app/.cxx/
